.part1{
    border: 2.5px solid orange;
    width: 650px;
    text-align: center;
    margin: 50px;
    height: 60px;
    border-radius: 20px;
}
.part2{
    border: 2.5px solid red;
    width: 650px;
    text-align: center;
    margin: 50px;
    height: 60px;
    border-radius: 20px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}