h1{
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  text-align: center;
  width: 500px;
  color:gray;
}

.rainbow-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
  
 
